html {
  background: url("img/odp-logo.svg") no-repeat center center fixed;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
}
ul {
  list-style-type: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(350%);
  -moz-transform: translateY(350%);
  -o-transform: translateY(350%);
  -ms-transform: translateY(350%);
  transform: translateY(350%);
  margin: auto;
  padding-left: 160px;
}
li {
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  color: #757575;
}
